<div ng-include="'components/navbar/navbar.html'"></div>

<header >
  <div class="banner-homepage">

  <div class="homepage_action_box">
  <h1>On Demand Assistance to Recruit and Place Ability in Hockey.</h1>
  <h3>We make it easy to connect domain experts with talent seekers who have a recruiting need and candidates who have a placement need. Matches available as long as they last!</h3>

   <div style="margin-top:10px;" class="row">

        <div class="col-md-3"> 
         <div class="btn-group home-page-group">
            <button type="button" class="disabled btn btn-homepage ">Talent Seeker</button>
          </div>
        </div>

        <div class="col-md-3"> 
          <div class="btn-group home-page-group">
            <button type="button" class="disabled btn btn-homepage ">Candidate</button>
          </div>
        </div>

         <div class="col-md-4">  
          <div class="btn-group home-page-group" dropdown>
            <button type="button" class="btn btn-homepage  dropdown-toggle"
                    data-toggle="dropdown">
              Agent/Advisor/Recruiter
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu">
              <li>
                <a href="/signup">I am looking for work orders for employment positions in hockey</a>
              </li>
              <li class="dropdown-submenu">
                <a href="/signup">I am looking for work orders for hockey teams and players</a>
                  <ul class="dropdown-menu dropdown-menu">
                    <li><ahref ng-click="">Professional</a></li>
                    <li><ahref ng-click="">Amateur</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </div>

    </div>

  </div>
   
    
  </div>
</header>


<div class="row fancy-row-darkblue">

  <div class="col-md-12 ">
    <h1><i class="fa fa-gears"></i>&nbsp;How It works</h1>
    Advisors submit placement orders to ability placement markets. Advisors save time because algorithms sift through orders searching for the most attractive matches between talent seekers and candidates. Customer names remain anonymous in the market place until a talent seeker or candidate is ready to be introduced. Customers stay in control!
  </div>
</div>
<div class="row fancy-row-lightblue">
  <div class="col-md-12 ">
    <h1><i class="fa fa-users"></i>&nbsp; Who we are</h1>
    Placement Loop is a platform and ecosystem of suppliers serving ability placements markets. We provide a placement order management system, a collaboration tool, a curation mechanism, and business intelligence. We are the back office for people who want to help talent seekers and candidates identify best-fit quickly, accurately, and affordably. Everybody wins!
  </div>
</div>
<div class="row fancy-row-lightgreen">
  <div class="col-md-12 ">
    <h1><i class="fa fa-comments"></i>&nbsp;Advise with us</h1>
    Placement Loop provides a business opportunity for advisors to build a placement consultancy for rewards. Advisors use the platform for access to ability placement markets and the supplier ecosystem to get customers the commitments they are looking for quickly, accurately, and affordably. Advisors are our clients!
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>

<!--
<div class="jumbotron" style="background-color:#fff">
      <div class="container">
        <h2>Matching opportunities available only as long as they last...</h2>
        <div class="col-md-2">
          <a class="btn btn-info btn-lg bg-blue" ng-href="/placementorder" role="button">Player Placement</a> 
        </div>
         <div class="col-md-2">
          <a class="btn btn-info btn-lg bg-blue" ng-href="/recruitingorder" role="button">Team Recruiting Order</a>
         </div>
      </div>
</div>
-->



<!-- Footer -->
