.bg-orange {
background-color: #fc681f !important;
color: #FFFFFF !important;
}
.bg-green {
background-color: #7bd454 !important;
color: #FFFFFF !important;
}
.btn.xxl {
font-size: 24px;
line-height: 30px;
}