<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/sidebar/sidebar.html'"></div>

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  

    <div class="panel panel-orderlist">
    <div class="panel-heading"><h4>Recruitment Order</h4></div>
      <div class="panel-body">
     
     <table class="table">
        <thead>
          <tr>
            <th>
            	    <div class="row">
					    <div class="col-md-2 userImage">
					        
					    </div>
						<div class="col-md-6">
					        Name
					    </div>
				    </div>
            </th>
            <th>Time</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           <tr ng-repeat="order in orderList" ng-show="order.status == 'Open' && order.orderType == 'Recruitment'">
			    <td>
			       <div class="row">
					    <div class="col-md-2 userImage">
					        <span class="user-noimage" style="background-color:#3F51B5; width: 120px;">{{order.name | limitTo: 1}} </span>
					    </div>
						<div class="col-md-6">
					        {{order.name}}   
					    </div>
				    </div>
			    </td>
			    <td><span am-time-ago="order.createdaAt"></span></td>
			    <td>{{order.status}}</td>
			    <td><a ng-show="order.status == 'Open'" href="#" ng-click="editOrder(order._id, order.orderType)"><span class="fa fa-pencil-square-o fa-2x"></span></a></td>

			    <td> <a class="remove-icon" href="#" ng-click="cancelOrderPopup(order._id)"><span class="fa fa-remove fa-2x"></span></a></td>
			   
			    <td> <a class="view-icon" href="#" ng-click="viewMatches(order._id, order.actorType)"><span class="fa fa-chevron-circle-right fa-2x"></span></a></td>
			  </tr>
          
        </tbody>
      </table>

      </div>
    </div>


    <div class="panel panel-orderlist">
     <div class="panel-heading"><h4>Placement Order</h4></div>
      <div class="panel-body">
     
     <table class="table">
        <thead>
          <tr>
            <th>
            	    <div class="row">
					    <div class="col-md-2 userImage">
					        
					    </div>
						<div class="col-md-6">
					        Name
					    </div>
				    </div>
            </th>
            <th>Time</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orderList" ng-show="order.status == 'Open' && order.orderType == 'Placement'">
			    <td>
			       <div class="row">
					    <div class="col-md-2 userImage">
					        <span class="user-noimage" style="background-color:#1B5; width: 120px;">{{order.name | limitTo: 1}} </span>
					    </div>
						<div class="col-md-6">
					        {{order.name}}   
					    </div>
				    </div>
			    </td>
			    <td><span am-time-ago="order.createdaAt"></span></td>
			    <td>{{order.status}}</td>
			     <td><a ng-show="order.status == 'Open'" href="#" ng-click="editOrder(order._id, order.orderType)"><span class="fa fa-pencil-square-o fa-2x"></span></a></td>
			    <td> <a class="remove-icon" href="#" ng-click="cancelOrderPopup(order._id)"><span class="fa fa-remove fa-2x"></span></a></td>
			   
			    <td> <a class="view-icon" href="#" ng-click="viewMatches(order._id, order.actorType)"><span class="fa fa-chevron-circle-right fa-2x"></span></a></td>
			  </tr>
          
        </tbody>
      </table>

      </div>
    </div>

