<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/sidebar/sidebar.html'"></div>

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <!--<h1 class="page-header">Placement Order Entry</h1>-->
    <h2 class="sub-header">Orders</h2>


<div  ng-repeat="order in orderList">

<div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-body bgopen">
					  <div class="row">
					    <div class="col-md-4">
					      #{{$index + 1 }} {{order.orderType}} Order
					    </div>
					     <div class="col-md-4">
					     <span am-time-ago="order.createdaAt"></span>
					    </div>
					  </div>
					  <div class="row">
					    <div class="col-md-4">
					      {{order.name}}
					    </div>
					     <div class="col-md-4">
					        Staus: {{order.status}}
					    </div>
					  </div>
					  <div class="row">
					    <div class="col-md-4">
					      <button class="btn btn-sm btn-default" ng-click="cancelOrder(order._id)">Cancel</button>
					    </div>
					     <div class="col-md-4">
					        <button class="btn btn-sm btn-default" ng-click="viewMatches(order._id)">View Matches</button>
					    </div>
					  </div>
	  				</div>
                    
                </div>
            </div>
            <!--
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="panel panel-default">
                    
                </div>
            </div>
			-->
	
</div>

  <!-- 
  <table class="table">
    <table class="table">
	  <th>ID</th>
	  <th>Name</th>
	  <th>Type</th>
	  <th>Date Entered</th>
	  <th>Status</th>
	  <th>Action</th>
	  <th></th>
	  <th></th>
	    <tr ng-repeat="order in orderList">
			    <td>{{$index + 1 }}</td>
			    <td>{{order.name}}</td>
			    <td>{{order.orderType}}</td>
			    <td>{{order.createdaAt}}</td>
			    <td>{{order.status}}</td>
			    <td><button class="btn btn-sm btn-info">Cancel</button></td>
			    <td><button class="btn btn-sm btn-info">Edit</button></td>
			    <td><button class="btn btn-sm btn-info" ng-click="viewMatches(order._id)">View Matches</button></td>
			  </tr>
	  </table>
  </table>
  Table -->

</div>


