.sub-header {
 color: #1976D2;
 border-bottom: 0px solid #eee;
}
.jumbotron {
background-color: #E8F5E9;
}

.panel {
 border-radius: none;
}

.bgopen {
	background: #E8F5E9;
}

.bgcancel {
	background: #FFEBEE;
}

.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}

.remove-icon {
  color: #EF5350;
}
.remove-icon:hover {
  color: #B71C1C;
}

.view-icon {
  color: #428bca;
}