<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/sidebar/sidebar.html'"></div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <!--<h1 class="page-header">Placement Order Entry</h1>-->
    <h2 class="sub-header">{{viewMatchesTitle}}</h2>


<div class="panel panel-orderlist" ng-show="matchesNotFoundMsg">
     <div class="panel-body">
    {{matchesNotFoundMsg}}
     </div>
</div>

     
<div  ng-repeat="match in matchedOrderList" >
<!-- <div class="panel panel-orderlist">
     <div class="panel-body">

    <div class="row">
		<div class="col-md-3 userImage">
		    <span class="user-noimage" style="background-color:#1B5">{{match._source.name | limitTo: 1}} </span>
		    {{match._source.name}}
		</div>
		
		<div class="col-md-3">Room & Board: {{match._source.playerAccomodationCost}}</div>
		<div class="col-md-3">Equipment Costs: {{match._source.playerEquipmentFee}}</div>
		<div class="col-md-3">Team Fee: {{match._source.playerTeamFee}}</div>		
		
	</div>

	<div class="row">
		<div class="col-md-3">Defensive Scale: {{match._source.playerDefensiveScale}}</div>
		<div class="col-md-3">Physical Scale: {{match._source.playerPhysicalScale}}</div>
		<div class="col-md-3">System based Scale: {{match._source.playerSystemBasedScale}}</div>
		<div class="col-md-3">
		   Date Of Birth:  <span>{{match._source.playerDOB | amDateFormat:'MMMM Do YYYY'}}</span>
		</div>
		<div class="col-md-3">Has own transport: {{match._source.playerOwnTransport}}</div>
	</div>

	<div class="row">
		<div class="col-md-3">Height: {{match._source.playerHeightRange}}</div>
		<div class="col-md-3">Weight: {{match._source.playerWeightRange}}</div>
		<div class="col-md-3">Shoot with: {{match._source.playerShootWith}}</div>
		<div class="col-md-3">Position: {{match._source.playerPosition}}
		</div>
	
	</div>
      </div>
</div> -->

<div class="panel panel-orderlist" ng-show="match._source.actorType === 'Talent Seeker'">
<div class="panel-body">
	    <div class="row">
		    <div class="col-md-1 userImage">
			    <span class="user-noimage" style="background-color:#1B5">{{match._source.name | limitTo: 1}} </span>
			    {{match._source.actorType}}
		    </div>

		    <div class="col-md-11">
				<div class="row">
				    <div class="col-md-4">
				       <h4> {{match._source.name}}</h4>
				        
				    </div>
				    <div class="col-md-4">
				       Date Of Birth Range: <span>{{match._source.playerDOBRangeMin| date:'MM/dd/yyyy'}} - {{match._source.playerDOBRangeMax |  date:'MM/dd/yyyy'}}</span>
				    </div>
			    </div>

			    <div class="row">
				    <div class="col-md-12">
				      {{match._source.name}} is looking for <span class="highlight">height range {{match._source.playerHeightRangeMin}} to {{match._source.playerHeightRangeMax}}</span> 
				      and <span class="highlight">weight range {{match._source.playerWeightRangeMin}} to {{match._source.playerWeightRangeMax}}</span>.
				      Who can shoot with <span class="highlight">{{match._source.playerShootWith}} hand</span> and his <span class="highlight">position is {{match._source.playerPosition}}</span>.
				    </div>
				</div>

				<div class="row">
				    <div class="col-md-12">
				       League he is looking for 
				      <!--  <span class="highlight" nglist> {{match._source.league[0]}}</span>. -->
				       <span class="highlight">{{match._source.leagueRecruitingFor}}</span>

				      Candidate's playing style should include <span class="highlight">Defensive (Scale: {{match._source.playerDefensiveScale}}), Physical (Scale: {{match._source.playerPhysicalScale}})</span> and <span class="highlight">System based (Scale: {{match._source.playerSystemBasedScale}})</span>

				    </div>
				</div>

				<div class="row">
				    <div class="col-md-12">
				    <span class="highlight">Room & Board (${{match._source.playerAccomodationCost}}), 
		            Equipment Costs (${{match._source.playerEquipmentFee}}), 
		            Team Fee (${{match._source.playerTeamFee}})</span>	
				    are acceptable to the player.
				    <span ng-show="match._source.playerOwnTransport === 'Yes'">Player should have own transport.</span>
				    </div>
				</div>

				<div class="row">
				     <div class="col-md-4">
				       Rating: <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
				    </div>

				    <div class="col-md-6">
				       <button class="btn btn-default btn-sm">Notify</button>
				       <button class="btn btn-default btn-sm reject">Reject</button>
				    </div>
				     
				</div>

		    </div>

	    </div>
	</div>
</div>	


<div class="panel panel-orderlist" ng-show="match._source.actorType === 'Candidate'">
    <div class="panel-body">
	    <div class="row">
		    <div class="col-md-1 userImage">
			    <span class="user-noimage" style="background-color:#1B5">{{match._source.name | limitTo: 1}} </span>
			    {{match._source.actorType}}
		    </div>

		    <div class="col-md-11">
				<div class="row">
				    <div class="col-md-4">
				       <h4> {{match._source.name}}</h4>
				        
				    </div>
				    <div class="col-md-4">
				       Date Of Birth: <span>{{match._source.playerDOB |  date:'MM/dd/yyyy'}}</span>
				    </div>
			    </div>

			    <div class="row">
				    <div class="col-md-12">
				      {{match._source.name}}'s <span class="highlight">height is {{match._source.playerHeight}}</span> and <span class="highlight">weight is {{match._source.playerWeight}}</span>.
				      He shoot with <span class="highlight">{{match._source.playerShootWith}} hand</span> and his <span class="highlight">position is {{match._source.playerPosition}}</span>.
				    </div>
				</div>

				<div class="row">
				    <div class="col-md-12">
				       League he is looking for 
				       <!-- [{"id":"EJHL"},{"id":"NAHL"},{"id":"OHL"},{"id":"QMJHL"},{"id":"WHL"},{"id":"USHL"}]-->
				      <!--  <span class="highlight"> {{match._source.league[0]}}</span>. -->
				     <span class="highlight">{{match._source.leaguePlayingFor}}</span>
				      His playing style includes <span class="highlight">Defensive (Scale: {{match._source.playerDefensiveScale}}), Physical (Scale: {{match._source.playerPhysicalScale}})</span> and <span class="highlight">System based (Scale: {{match._source.playerSystemBasedScale}})</span>

				    </div>
				</div>

				<div class="row">
				    <div class="col-md-12">
				    <span class="highlight">Room & Board (${{match._source.playerAccomodationCost}}), 
		            Equipment Costs (${{match._source.playerEquipmentFee}}), 
		            Team Fee (${{match._source.playerTeamFee}})</span>	
				    are acceptable to the player.
				    <span ng-show="match._source.playerOwnTransport === 'Yes'">Player has own transport.</span>
				    </div>
				</div>

				<div class="row">
				     <div class="col-md-4">
				       Rating: <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
				    </div>

				    <div class="col-md-6">
				       <button class="btn btn-default btn-sm">Notify</button>
				       <button class="btn btn-default btn-sm reject">Reject</button>
				    </div>
				     
				</div>

		    </div>

	    </div>
	</div>
</div>




</div>



