  <div ng-include="'components/navbar/navbar.html'"></div>
  <div ng-include="'components/sidebar/sidebar.html'"></div>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <!--<h1 class="page-header">Placement Order Entry</h1>-->
    <h2 class="sub-header">Placement Order Entry</h2>

    <div class="jumbotron">

      <h4>Player Name</h4>
      <div class="row">
        <div class="col-md-6">
          <input type="text" ng-model="order.name" class="form-control" required>
        </div>
      </div>

      <h4>What league is this for?</h4>
      <div class="row">
         <div class="col-md-6"> 
            <div ng-dropdown-multiselect="" options="hockeyLeagueData"
                 selected-model="order.hockeyLeague" 
                 extra-settings="hockeyLeagueSettings" 
                 translation-texts="hockeyLeagueTextSettings">
            </div>
          </div>
      </div>

        
      <h4>Player Position <small>{{radioModel || ''}}</small></h4>

      <div class="form-group  btn-group">
        <label class="btn btn-primary" ng-model="order.playerPosition" btn-radio="'Goalie'">Goalie</label>
        <label class="btn btn-primary" ng-model="order.playerPosition" btn-radio="'Left wing'">Left wing</label>
        <label class="btn btn-primary" ng-model="order.playerPosition" btn-radio="'Left Defense'">Left Defense</label>
        <label class="btn btn-primary" ng-model="order.playerPosition" btn-radio="'Center'">Center</label>
        <label class="btn btn-primary" ng-model="order.playerPosition" btn-radio="'Right Defense'">Right Defense</label>
        <label class="btn btn-primary" ng-model="order.playerPosition" btn-radio="'Right wing'">Right wing</label>               
      </div>
      
       <h4><i class="fa fa-calendar"></i>
            Player's Date of Birth <small>(as date)</small></h4>
        <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="order.playerDOB" is-open="opened"  ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        </div>

    </div>

    <div class="jumbotron">
      <div class="form-group">
        <h4>What are the Player's Physical Traits?</h4>
         <span class="help-block">What is the player's height?</span>
         <rzslider
            rz-slider-floor="order.playerHeight.floor"
            rz-slider-ceil="order.playerHeight.ceil"
            rz-slider-model="order.playerHeight.min"
            rz-slider-high="order.playerHeight.max"
            rz-slider-translate="translateCentimeter"
            rz-slider-step="1">
          </rzslider>
      </div>
      <div class="form-group">
        <span class="help-block">What is the player's weight?</span>
        <rzslider
            rz-slider-floor="order.playerWeight.floor"
            rz-slider-ceil="order.playerWeight.ceil"
            rz-slider-model="order.playerWeight.min"
            rz-slider-high="order.playerWeight.max"
            rz-slider-translate="translateLbs"
            rz-slider-step="1">
        </rzslider>
      </div>

      <div class="form-group">
        <h4>What hand does the player shoot with?</h4>
      </div>

      <div class="form-group  btn-group">
        <label class="btn btn-primary" ng-model="order.playerShootWith"
                               btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="order.playerShootWith" 
                               btn-radio="'Right'">Right</label>
      </div>

      <div class="form-group">
        <h4>What style of team play is the player looking for ?</h4>
      </div>
      <div class="form-group">
        <span class="help-block pull-left">More Defensive</span>
        <span class="help-block pull-right">More Offensive</span>
        <rzslider
          rz-slider-floor="1"
          rz-slider-ceil="10"
          rz-slider-model="order.playerDefensiveScale"
          rz-slider-translate="translateDefensiveStyle"
          rz-slider-step="1">
        </rzslider> 
      </div>

      <div class="form-group">
        <span class="help-block pull-left">System Based</span>
        <span class="help-block pull-right">Free Flowing</span>
          <rzslider
            rz-slider-floor="1"
            rz-slider-ceil="10"
            rz-slider-model="order.playerSystemBasedScale"
            rz-slider-translate="translateSystemBasedStyle"
            rz-slider-step="1">
          </rzslider>              
      </div>

      <div class="form-group" style="margin-bottom:25px;">
        <span class="help-block pull-left">Physical</span>
        <span class="help-block pull-right">Skill</span>
          <rzslider
            rz-slider-floor="1"
            rz-slider-ceil="10"
            rz-slider-model="order.playerPhysicalScale"
            rz-slider-translate="translatePhysicalStyle"
            rz-slider-step="1">
          </rzslider>                    
      </div>

      <div class="form-group">
       <h4>What costs are acceptable to the player ?</h4>
      </div>

      <div class="form-group">
        <span class="help-block">Team Fee $</span>
          <rzslider
            rz-slider-floor="0"
            rz-slider-ceil="12"
            rz-slider-model="order.playerTeamFee"
            rz-slider-translate="translateTeamFee"
            rz-slider-step="1">
          </rzslider> 
      </div>

      <div class="form-group">
        <span class="help-block">Accomodation $</span>
        <rzslider
          rz-slider-floor="0"
          rz-slider-ceil="2000"
          rz-slider-model="order.playerAccomodationCost"
          rz-slider-translate="translatePerMonthAccomodation"
          rz-slider-step="100">
        </rzslider> 
      </div>

      <div class="form-group" style="margin-bottom:25px;">
        <h4>Equipment Player Resposibility</h4>
        <rzslider
          rz-slider-floor="0"
          rz-slider-ceil="500"
          rz-slider-model="order.playerEquipmentFee"
          rz-slider-translate="translatePerMonthEquip"
          rz-slider-step="25">
        </rzslider> 
      </div>

      <div class="form-group">
          <h4>Will the Player have their own transportation?</h4>
      </div> 
      <div class="form-group  btn-group">
          <label class="btn btn-primary" ng-model="order.playerOwnTransport"
                 btn-radio="'Left'">Yes</label>
          <label class="btn btn-primary" ng-model="order.playerOwnTransport"
                 btn-radio="'Right'">No</label>
      </div>

      <div class="form-group">
        <button ng-show="order._id" ng-click="enterOrder('Placement', 'Candidate')" class="btn btn-info pull-right">Update Order</button>
        <button ng-hide="order._id" ng-click="enterOrder('Placement', 'Candidate')" class="btn btn-info pull-right">Enter Order</button>
      </div>                          
    </div>

  </div>


<script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">I'm a modal!</h3>
      </div>
      <div class="modal-body">
          <img src="assets/images/spinner.gif" id="loading-indicator"  />
      </div>   
</script>