<div class="row footer-row">
<div class="row">
  <div class="col-md-3">
    <h2>Learn More</h2>
    <ul>
      <li><a href="">How It Works</a></li>
      <li><a href="">Frequently Asked Question</a></li>
      <li><a href="">Terms & Privacy</a></li>
      <li><a href="">Domain Expert Movement</a></li>
    </ul>
  </div>

  <div class="col-md-3">
    <h2>Company</h2>
    <ul>
      <li><a href="">About Us</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Privacy Policy</a></li>
    </ul>
  </div>

  <div class="col-md-3 ">
    <h2>Partners</h2>
    <ul>
      <li><a href="">Affilates Earn Commission</a></li>
      <li><a href="">Developer API</a></li>
      <li><a href="">Platform Licensing</li>
      <li><a href="">International</a></li>
    </ul>
  </div>
  <div class="col-md-3 ">
    <h2>Follow Us</h2>
    <ul>
     <li><a href=""><i class="fa fa-twitter-square" style="font-size: 30px;"></i></a></li>
     <li><a href=""><i class="fa fa-facebook-square" style="font-size: 30px;"></i></a></li>
     <li><a href="">Blog</a></li>
    </ul>
  </div>
</div>
<div class="row footer-sub-header">© 2014-2015 All rights reserved - PlacementLoop®</div>
</div>
